<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 引入配置文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:jdbc.properties" />
	</bean>

	<!-- 配置mysql -->
	<bean id="mysql_dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${ds1.driver}" />
		<property name="url" value="${ds1.url}" />
		<property name="username" value="${ds1.username}" />
		<property name="password" value="${ds1.password}" />
		 <!-- 初始化连接大小  -->
		<property name="initialSize" value="${initialSize}"></property>
		 <!-- 连接池最大数量  -->
		<property name="maxActive" value="${maxActive}"></property>
		 <!-- 连接池最大空闲  -->
		<property name="maxIdle" value="${maxIdle}"></property>
		 <!-- 连接池最小空闲  -->
		<property name="minIdle" value="${minIdle}"></property>
		 <!-- 获取连接最大等待时间  -->
		<property name="maxWait" value="${maxWait}"></property>
		
		<!-- 指明连接是否被空闲连接回收器(如果有)进行检验 -->
		<property name="testWhileIdle" value="true"/>
		<!-- 运行一次空闲连接回收器的时间间隔（60秒）-->
		<property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}"/>
		<!-- 验证时使用的SQL语句 -->
		<property name="validationQuery" value="SELECT 1" />
		<!-- 借出连接时不要测试，否则很影响性能 -->
		<property name="testOnBorrow" value="false"/>
		
		<!--removeAbandoned: 是否自动回收超时连接-->  
		<property name="removeAbandoned" value="true"/>  
		<!--removeAbandonedTimeout: 超时时间(以秒数为单位)-->  
		<property name="removeAbandonedTimeout" value="180"/>  
		<!--maxWait: 超时等待时间以毫秒为单位 6000毫秒/1000等于60秒-->  
	</bean>
	
	<!-- DB2 -->
	  <bean id="oracle_dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${ds2.driver}" />
        <property name="url" value="${ds2.url}" />
        <property name="username" value="${ds2.username}" />
        <property name="password" value="${ds2.password}" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${initialSize}"></property>
        <!-- 连接池最大数量 -->
        <property name="maxActive" value="${maxActive}"></property>
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${maxIdle}"></property>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${minIdle}"></property>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${maxWait}"></property>
    </bean>    
    
    <!-- <bean id ="dataSource" class= "com.chillax.utilMain.DynamicDataSource" >    
          <property name ="targetDataSources">    
                <map key-type ="java.lang.String">    
                      <entry value-ref ="mysql_dataSource" key= "mysql_dataSource"></entry >    
                      <entry value-ref ="oracle_dataSource" key= "oracle_dataSource"></entry >    
                </map >    
          </property>    
          默认使用mysql    
          <property name ="defaultTargetDataSource" ref= "mysql_dataSource"></property >        
   </bean>   -->
   
	<!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="mysql_dataSource" />
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:com/chillax/mapper/*.xml"></property>
	</bean>
	
</beans>